{{#partial "content"}}
    <form action="/squads" method="post">
        <div class="form-group">
            <h4>Create new Squad:</h4>
            <label for="name">Squad Name:</label>
            <input class="form-control" id="name" name="name" type="text" placeholder="Enter squad name" required>
            <label for="size">Squad size:</label>
            <input class="form-control" id="size" name="size" type="number" placeholder="Enter squad size" required>
            <label for="cause">Squad Cause:</label>
            <input class="form-control" id="cause" name="cause" type="text" placeholder="Enter squad mission" required>
        </div>


        <button type="submit" class="btn btn-warning">Create your own Squad</button>
    </form>
{{/partial}}

{{> layout.hbs}}