{{#partial "title"}}

{{/partial}}

{{#partial "content"}}



    <p align="center">An example of heroes and their attributes</p>
    <div class="portfolio-items-wrapper">

        <div class="portfolio-item">
            <div class="background" style="background-image:url(/images/doctor-strange-poster.jpg)"
                 ></div>
            <div class="attributes">
                <p align="center"><em><u>DR.STRANGE</u></em></p>
                <ol type="I">
                    <li>Mastery of magic</li>
                    <li>Utilizes mystical artifacts, such as the Cloak of Levitation and the Eye of Agamotto.</li>
                    <li>Genius-level intellect.</li>
                    <li>Skilled martial artist.</li>
                    <li>Gifted physician and surgeon.</li>
                </ol>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="background" style="background-image:url(/images/wolverine.jpg)"></div>
            <div class="attributes">
                <p align="center"><em><u>WOLVERINE</u></em></p>
                <ol type="I">
                    <li>Regeneration and slowed aging</li>
                    <li>Utilizes mystical artifacts, such as the Cloak of Levitation and the Eye of Agamotto.</li>
                    <li>Retractable adamantium claws</li>
                    <li>Enhanced agility.</li>
                    <li>Indestructible bones via adamantium-infused skeleton</li>
                </ol>
            </div>
        </div>

        <div class="portfolio-item">
            <div class="background" style="background-image:url(/images/superman.jpeg)"></div>
            <div class="attributes">
                <p align="center"><em><u>SUPERMAN</u></em></p>
                <ol type="I">
                    <li>Ocular powers</li>
                    <li>Utilizes mystical artifacts, such as the Cloak of Levitation and the Eye of Agamotto.</li>
                    <li>Flight</li>
                    <li>Invulnerability</li>
                    <li>Accelerated healing</li>
                </ol>

            </div>

        </div>

    </div>


    <a href="/squads/new" class="btn btn-warning">Create the next justice society</a>
    <style>
            .portfolio-items-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            }
            .portfolio-items-wrapper > div {
    margin:10px;
}
            portfolio-item {
  position: relative;
}
            .background{
            background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;

            };

            p{

                font-size: 24px;
                font-weight: 600;
            };

    </style>
    </div>

{{/partial}}

{{>layout.hbs}}