{{#partial "title"}}
    The squad section!!!
{{/partial}}

{{#partial "content"}}
    {{#if squads}}
        {{#each squads}}
            <div class="card col-lg-9">
                <h1 class="text-center card-title" id="squad"> Squad name:{{name}}</h1>
                <a href="/squads/{{id}}" class="btn btn-outline-danger btn-lg col-md-6">View info</a>
            </div>

        {{/each}}
    {{else}}
        <div class="card col-md-12">
            <img src="/images/jl.jpg" class="card-img-top" style="width:100%;height:100%">
            <p style="font-size:32px" class="card-text">No squad has been detected!!!</p>
        </div>
        <br><br>
    {{/if}}
    <a href="/squads/new" class="btn btn-outline-primary btn-lg">Create a new squad</a>
{{/partial}}

{{> layout.hbs}}