{{#partial "content"}}
    <!--Flash Background-->

    <p class="card-text" id="success">Hero succesfully created.Lightning fast wasn't it!!!</p>
    <a href="/heroes" class="btn btn-lg btn-success">View heroes</a>

{{/partial}}

{{> layout.hbs}}