{{#partial "content"}}
    <div class="card col-lg-8">

        <p class="card-text" id="hero-text">Squad created</p> <!-- Add font-awesome icon thumbs up/hammer -->
    </div>

    <a href="/squads" class="btn btn-outline-success"> Current Squads</a>
{{/partial}}

{{> layout.hbs}}