{{#partial "content"}}
    <!--Flash Background-->
    < <div class="background">
        <img src="/images/FLASH.jpg">
    </div>
    <style>
        .background img{
            height:100%;
            width: 100%;
       }
       .content {
       font-weight:25px;
       }

    </style>
    <div class ="content">
        <p class="card-text" id="success">Hero succesfully created.Lightning fast wasn't it!!!</p>
        <a href="/heroes" class="btn btn-lg btn-success">View heroes</a>

    </div>

{{/partial}}

{{> layout.hbs}}