{{#partial "content"}}
    <form class="form-group" action="/heroes" method=post>
        <label for="name">Name </label>
        <input class="form-control" name="name" type="text" placeholder="Hero's name/Alias" required>
        <label for="age">Age </label>
        <input class="form-control" name="age" type="number" placeholder="hero's age" required>
        <label for="specialAbility">Special Ability </label>
        <input class="form-control" name="strength" type="text" placeholder="specialAbility" required>
        <label for="weakness">Weakness </label>
        <input class="form-control" name="weakness" type="text" placeholder="hero's weakness" required>
        <label for="ability">Ability </label>
        <input class="form-control" name="ability" type="text" placeholder="Any abilities." required>
        <button type="submit" class="btn btn-warning"> Create Hero</button>
    </form>
{{/partial}}

{{> layout.hbs}}