
{{#partial "content"}}
    {{#if heroes}}
        <ul>
            {{#each heroes}}
                <li class="card col-lg-6">
                    <h3 class="card-title" id="hero">Name:{{name}}</h3>
                    <a href="/heroes/{{id}}" class="btn btn-outline-warning">More details</a>
                    <a href="/squads/{{squadId}}" class="btn btn-outline-danger">View squad</a>
                </li>
                <br><br>

            {{/each}}
        </ul>

    {{else}}
        <div class="card col-lg-8">
            <img src="/images/jl.jpg" class="card-img-top" style="width:780px;height:100%">
            <p class="card-text" id="squad" style="font-size: 22px">No heroes yet</p>
        </div>
        <br><br>
    {{/if}}
    <a href="/heroes/new" class="btn btn-lg btn-outline-primary col-md-5">Create  hero here</a>

{{/partial}}

{{> layout.hbs}}